.App {
  text-align: center;
}
.verticalText {
  writing-mode: tb-rl;
  transform: rotate(180deg);
}
h3 {
  cursor: pointer;
  background-color: grey;
  border-radius: 3px;
  margin: 0;
  padding: 0;
  color: whitesmoke;
}